body
{
align-items: center;
text-align: center;
backgrounds-color: black;
}
.div2
{
 background-color: lightblue;
 width: 50%;
margin-left: 300px;
}
p
{
 font-size: 20px;
 font-style: italic;
}
#evod
{
 font-size: 30px;
 font-style: italic;
 color: red;
}